{% include 'index.html' %}
<body>
    <div class="homewall">
        <p>Getting Started sharing your messages</p>
        <a href="/user/register" class="btn">Register</a>
        <a href="/user/login"  class="btn">Login</a>
    </div>
    
</body>
    <style>
        .homewall{
            margin-top: 10vh;
        }
    
        .homewall a{
        
        display: inline-block;
        
        font-size:20px;
        color: #fff;
        border:1px solid white;
    
        position: relative;
        z-index: 1;
        display: inline-block;
        background-color: transparent;
        text-decoration: none;
        transition: all .3s ease-in-out;
        padding: 12px 50px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        letter-spacing: 1.5px;
        margin-top: 2vh;
        text-decoration: none;
        margin-left: 25%;
    
    }
    
    .homewall p{
        text-align: center;
        font-family: "Poiret One";
        color: white;
        font-size: 35px;
    }
    .homewall a:hover{
        background-color:rgba(216, 230, 222, 0.4);
        
    
        
    }
    </style>
